@media (min-width:1280px) {
    header {
        width: 1280px;
        margin: auto;
    }
    .top_header {
        width: 100%;
        height: 30px;
        left: 0;
        border-bottom: 1px solid lightgray;
        position: relative;
        overflow: hidden;
    }
    .header1 {
        position: absolute;
        left: -3px;
        top: 0;
        line-height: 30px;
    }
    .header1>li {
        float: left;
    }
    .header1>li>a {
        padding: 2px 10px;
        color: #5e5e5e;
        border-left: 1px solid lightgray;
        font-size: 13px;
    }
    .header2 {
        position: absolute;
        right: -3px;
        top: 0;
        line-height: 30px;
    }
    .header2>li {
        float: left;
    }
    .header2>li>a {
        padding: 2px 10px;
        color: #5e5e5e;
        border-right: 1px solid lightgray;
        font-size: 13px;
    }
    .bottom_header {
        width: 100%;
        margin: auto;
        padding-top: 10px;
    }
    .bottom_header>ul {
        width: 100%;
        margin: auto;
        display: flex;
    }
    .bottom_header>ul>li {
        margin: auto;
        flex: 1;
        text-align: center;
    }
    .bottom_header>ul>li>a {
        font-size: 20px;
        font-weight: bold;
        color: black;
        cursor: pointer;
        line-height: 3;
        position: relative;
        text-decoration: none;
    }
    .bottom_header>ul>li>a:hover:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: black;
    }
    .bottom_header>ul>li>img {
        cursor: pointer;
    }
    .bottom_header>ul>li:hover>.sub_menu {
        display: block;
    }
    .sub_menu {
        display: none;
        position: absolute;
        line-height: 1;
        left: -120px;
        width: 382px;
        top: 68px;
    }
    .sub_menu>li {
        float: left;
        /* border: 1px solid green; */
    }
    .sub_menu>li>a {
        display: block;
        color: #5e5e5e;
        padding: 10px;
        font-size: 12px;
    }
    .bottom_header>ul>li>a>img {
        border: none;
        line-height: 0;
        font-size: 0;
    }
    .bottom_header>ul>li>a>img:hover {
        text-decoration: none;
    }
    /* --------------------------img slide------------------------- */
    section {
        width: 70%;
        /* border: 1px solid black; */
        margin: auto;
    }
    .container {
        position: relative;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        width: 100%;
        margin: auto;
    }
    .carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 7% !important;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 4px 2px rgba(0, 0, 0, .6) !important;
        background-color: rgba(0, 0, 0, 0);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .carousel-control.left {
        left: 0;
        left: auto;
        background-image: none !important;
    }
    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: none !important;
    }
    /* -----------------------------text slide---------------------------- */
    @keyframes abc {
        from {
            left: 200px
        }
        10% {
            left: 0;
        }
        20% {
            left: -200px;
        }
        30% {
            left: -400px;
        }
        40% {
            left: -600px;
        }
        50% {
            left: -800px;
        }
        60% {
            left: -1000px;
        }
        70% {
            left: -1200px;
        }
        80% {
            left: -1400px;
        }
        90% {
            left: -1600px;
        }
        to {
            left: -1800px;
        }
    }
    #text {
        position: absolute;
        width: 77%;
        height: 150px;
        margin: auto;
        background-color: white;
        /* border: 2px solid black; */
        left: 132px;
        bottom: -42px;
    }
    .slide_text {
        position: absolute;
        width: 95%;
        height: 130px;
        top: 15px;
        left: 23px;
        border-bottom: 2px solid black;
        z-index: 111;
    }
    .slide_text>h2 {
        position: absolute;
        width: 191px;
        height: 45px;
        top: 10px;
        left: 10px;
        font-weight: bold;
    }
    .text_out {
        position: absolute;
        width: 70%;
        height: 130px;
        top: 15px;
        left: 227px;
        /* border: 1px solid black; */
        overflow: hidden;
    }
    .text {
        /* animation-name: abc;
        animation-iteration-count: infinite;
        animation-duration: 15s;
        animation-direction: normal;
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 60px;
        top: 13px; */
        width: 100000px;
        /* transform: translateX(0px);
        animation: 39.0297s linear 1s infinite normal none running marqueeAnimation-6115333; */
    }
    .marquee {
        width: 300px;
        overflow: hidden;
        border: 1px solid #ccc;
        background: white;
    }
    .marquee>li {
        padding: 0 5px;
        float: left;
        width: 200px;
        color: gray;
    }
    .text_control {
        position: absolute;
        width: 10px;
        height: 10px;
        top: 35px;
        right: 15px;
        /* border: 1px solid black; */
    }
    .text_control .stop {
        background-position: 0 -58px;
    }
    .text_control>a {
        display: none;
        width: 24px;
        height: 24px;
        background: url(https://stimg.emart.com/store/images/new/main/main_top_slide.png) no-repeat;
    }
    .hide {
        position: absolute;
        top: -5000em;
        left: 0;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
    }
    .text_control a.on {
        display: block;
    }
    .text_control .start {
        background-position: 0 -28px;
    }
    .text_control a {
        display: none;
        width: 24px;
        height: 24px;
        background: url(https://stimg.emart.com/store/images/new/main/main_top_slide.png) no-repeat;
    }
    /* contents :start */
    #contents {
        position: relative;
        width: 65%;
        margin: auto;
        /* border: 1px solid black; */
    }
    .top_contents {
        /* border: 1px solid black; */
        margin-top: 100px;
    }
    .top_contents>h2 {
        position: relative;
        margin: auto;
        text-align: center;
        font-weight: bold;
    }
    .top_image {
        display: flex;
    }
    .top_image>div {
        flex: 1;
        /* border: 1px solid black; */
    }
    .top_image>div>img {
        display: block;
        margin: auto;
        padding: 40px 0;
        width: 95%;
    }
    .top_image>div>span {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }
    .top_image>div>span>a {
        color: black;
    }
    .bottom_contents {
        position: relative;
        width: 100%;
        margin: auto;
        height: 770px;
        top: 80px;
        /* border: 1px solid black; */
    }
    .bottom_contents>h2 {
        position: relative;
        margin: auto;
        text-align: center;
        font-weight: bold;
        height: 80px;
    }
    .bottom_image {
        position: absolute;
        /* background-color: blueviolet; */
        display: flex;
        width: 100%;
    }
    .bottom_image>div {
        flex: 1;
    }
    .bottom_image>div>img {
        display: block;
        box-sizing: border-box;
        margin-left: 65px;
    }
    .image06>img {
        margin-bottom: 15px;
    }
    /* link :start */
    #link {
        position: relative;
        width: 100%;
        height: 230px;
        margin: auto;
    }
    #link:after {
        content: "";
        display: block;
        width: 66%;
        height: 1px;
        position: absolute;
        left: 17%;
        bottom: 140px;
        background-color: lightgray;
    }
    #link>ul {
        width: 62%;
        margin: auto;
    }
    #link>ul>li {
        float: left;
        width: 137px;
        /* border: 1px solid black; */
    }
    #link>ul>li>a {
        color: #5e5e5e;
        text-decoration: none;
        position: relative;
    }
    #link>ul>li>a:hover {
        color: black;
        font-weight: bold;
    }
    #link>ul>li .over {
        display: none;
    }
    #link>ul>li:hover .over {
        display: block;
        top: 0px;
        left: 40px;
    }
    #link>ul>li:hover img {
        display: none;
    }
    #link>ul>li img {
        display: block;
        margin: auto;
    }
    #link>ul>li span {
        display: block;
        text-align: center;
    }
    /* ----------------------------------------footer---------------------------------- */
    footer {
        width: 41%;
        margin: auto;
        margin-bottom: 70px;
    }
    #fixed {
        width: 100%;
        /* background-color: yellow; */
        border-bottom: 2px solid black;
        display: flex;
        height: 50px;
    }
    #fixed>div {
        flex: 1;
    }
    .left_fixed {
        /* position: relative; */
    }
    .left_fixed>ul {
        position: relative;
        width: 341px;
        z-index: 11;
        background-color: white;
    }
    .left_fixed>ul>li {
        float: left;
    }
    .left_fixed>ul>li>a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 0 5px;
        font-size: 17px;
        font-weight: bold;
    }
    .middle_fixed {
        width: 345px;
        overflow: hidden;
    }
    .middle_fixed>ul {
        position: relative;
        width: 348px;
        left: 3px;
        top: 1px;
    }
    .middle_fixed>ul>li {
        float: left;
    }
    .middle_fixed>ul>li>a {
        color: darkgray;
        text-decoration: none;
        display: block;
        padding: 0 5px;
        font-size: 14px;
        border-right: 1px solid lightgray;
    }
    .right_fixed {
        right: 0;
    }
    .right_fixed>ul {
        position: relative;
        width: 237px;
        left: 108px;
    }
    .right_fixed>ul>li {
        float: left;
    }
    .right_fixed>ul>li>a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 0 5px;
        font-size: 15px;
    }
    #fixed2 {
        margin-top: 40px;
    }
    #fixed2>div {
        float: left;
    }
    #left00 {
        /* border: 1px solid red; */
        width: 742px;
        margin-bottom: 70px;
    }
    .left01>span>img {
        margin-right: 20px;
        float: left;
    }
    .left01>span {
        display: block;
        padding-bottom: 10px;
        font-weight: bold;
        color: #5e5e5e;
    }
    .left01>span>p {
        display: block;
        padding-top: 16px;
        width: 530px;
    }
    .left01>span>a {
        color: red;
    }
    i.padding10 {
        padding-left: 10px;
    }
    .left02 {
        padding-top: 30px;
    }
    .left02>ul>li {
        float: left;
        padding-right: 20px;
        font-weight: bold;
    }
    .left03 {
        margin-top: 30px;
        border-top: 1px solid lightgray;
        width: 576px;
        left: 0;
    }
    .left03>span {
        display: block;
        padding-top: 10px;
        font-weight: bold;
    }
    .left03>span>p {
        display: inline-block;
        color: #5e5e5e;
    }
    i.padding10 {
        padding-left: 10px;
    }
    #rigth00 {
        /* border: 1px solid blue; */
        width: 300px;
    }
    .right01 {
        width: 270px;
        margin: auto;
    }
    .right01>div {
        border-bottom: 2px solid black;
        width: 190px;
        display: -webkit-inline-box;
        text-indent: 10px;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
    }
    .right01>button {
        background-color: white;
        border: 1px solid black;
        padding: 3px;
        margin-left: 40px;
    }
    .right02 {
        margin-top: 25px;
    }
    .right02>span {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .right02>span>a {
        font-weight: bold;
        color: #5e5e5e;
    }
}